# Project Details

This is a project that I got from my client called as Disco - Influencer marketing platform where brands can Browse, analyse different influencers in Instagram, facebook, youtube with advanced search filter and connect with them. They are having many features as well including - campaign reports, content research, advanced analysis etc.

# Tech Stack

- NextJS v15 latest version with app router - Full stack (Frontend and Backend).
- DB - MongoDB
- Open AI APIs (For AI Integration)
- Meta and Youtube APIs for fetching influencer data.
- Vercel for deployment.
- Pure JSX and SCSS, ShadCN UI, framer, framer-motion and other packages as per requirement for building advanced/Modern UI and Smooth slick animations.
- React-icons for icons preferable.
- NextAuth v5 or Latest version for user authentication

# Rules

- Never use typescript and Tailwind CSS.
- if require to install an NPM package, always analyse the package.json file and find out which package needs to be installed as per requirement and install it.
- ALwasy use "use client" at the top of functional components which is using client side code like react hooks but not for all components.
- Never write refresh setInterval logics meaninglessly unless instructed.
- ALways use this method - "../../../" for importing in the components.
- We use NPM so always use that. No Yarn.
- Under the src folder, only the app folder will be there under which we will have the api folder which is the normal NextJS app router concept, but apart from them all the other folders like utils etc, will be under the root project.
- All the components will be under the components folder under the root project.
- There must be no duplication of same files in the project. Always check that.

# Image to Coding the UI

- If you are given an UI image and asked to build the excat UI as shown in the image pixel perfectly with no changes, analyse the UI components, styles, colors, alignments, shades, animations everything shown in the image attached and code the excat replica of the UI shown in the image. You must be the perfect analyser of the image and convert and clone the UI shown in the image into excat real UI in our app if instructed with no changes. The UI in our app should be the same as shown in the image attached.

Make the excat replica of this UI as you can see in the image attached.

Observe the detailing of the UI in the image, the components, colors, texts, fonts, gradients, styling, alignments, shapes and everything and convert the UI shown in the image to the real UI in this project. There must not be even 1% change in the UI that you will code and build. It must be excatly the same as shown in the image attached.

Do it perfectly without breaking any other existing code.
