.main-layout {
  display: flex;
  min-height: 100vh;
  background-color: #f9fafb;
  overflow-x: hidden;

  .main-content {
    flex: 1;
    padding: 32px;
    position: relative;
    overflow-x: hidden;
    box-sizing: border-box;
  }
  
  // When the page has the regular sidebar
  .sidebar + .main-content {
    margin-left: 250px;
    width: calc(100% - 250px);
  }
  
  // When the page has the collapsible sidebar
  .collapsible-sidebar + .main-content {
    margin-left: 60px;
    width: calc(100% - 60px);
  }
}
